*{
	margin:0;
	padding:0;
	font-family: "Georama";

	scroll-behavior: smooth; 
}

body{
	 background-color:#FFECD5;
	 background-repeat: no-repeat; 
	 background-size: cover; 
}

body {
	background-image: url('https://images.pexels.com/photos/2330137/pexels-photo-2330137.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');

	 background-repeat: no-repeat; 
	 background-size: cover; 
	 background-color:black;
	 position: relative;
}

/*font size*/
h1 {
	font-size:5.5vw;
}

h2 {
	font-size:5vw;
}

h3{
	font-size:;
}

h4{
	font-size:3vw;
}

h5{
	font-size:2vw;
}

p{
	font-size:1.3vw ;
	
}

label{
	font-size:1.3vw;
}

#copyright{
	font-size: 1vw;
}


footer span {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	font-size:0.5vw;
}


#description{
	width:50vw;
}

#pre-footer{
	position:relative;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */

}


/* Parent Container */
.content_img{

 position: relative;
 float: left;
 margin-left: 10px;

}

/* Child Text Container */
.content_img div{
 position: absolute;
 bottom: 0;
 right: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 font-family: sans-serif;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img:hover{
 cursor: pointer;
}

.content_img:hover div{
 width: 150px;
 padding: 8px 15px;
 visibility: visible;
 opacity: 0.7; 
}

.timeline-text
{
	background:grey;
	border-radius: 12px;
	color: white;	
	padding:7rem;
}


.form-group {
	color:white;
}




#contactinfo
{
	background:grey;

	color: white;	

	width:25vw;



}

